.experience {
    margin-bottom: 70px;
}

.experience__title {
    margin-bottom: 70px;
}

.experience__list {
    display: flex;
    flex-wrap: wrap;
}

.experience__item {
    position: relative;
    padding: 56px 24px 205px 48px;
    width: 100%;
    max-width: 296px;
    margin-right: 50px;
    margin-bottom: 50px;
    background: var(--color-light);
    box-shadow: 0px 20px 40px rgba(0, 80, 71, 0.1);
}

.experience__item:nth-child(2) {
    margin-right: 20%;
}

.experience__text {
    font-size: 16px;
    line-height: 19.7px;
}

.experience__img-box {
    position: absolute;
    bottom: 0;
    left: 0;
}

.experience__img-box--center {
    left: 50%;
    bottom: 33px;
    transform: translateX(-50%);
}

.experience__img {
    display: flex;
}

