@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyr-Regular.eot');
	src: url('../assets/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirNextCyr-Regular.woff') format('woff'),
		url('../assets/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyr-Bold.eot');
	src: url('../assets/fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirNextCyr-Bold.woff') format('woff'),
		url('../assets/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../assets/fonts/AvenirNextCyr-Heavy.eot');
	src: url('../assets/fonts/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirNextCyr-Heavy.woff') format('woff'),
		url('../assets/fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}