.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 87px;
    padding-bottom: 25px;
    z-index: 9999;
}

.header--inner-page {
    padding-top: 55px;
}
    @media (max-width: 1140px) {
        .header {
            padding-top: 60px;
            padding-bottom: 18px;
        }
    }
    @media (max-width: 768px) {
        .header {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

