.learn-more {
    margin-bottom: 120px;
}

@media (max-width: 1140px) {
    .learn-more {
        margin-bottom: 0;
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .learn-more {
        overflow-x: hidden;
    }
}

.learn-more__container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1140px)  {
    .learn-more__container {
        align-items: center;
    }
}

@media (max-width: 768px)  {
    .learn-more__container {
        flex-direction: column;
    }
}

.learn-more__description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 526px;
    padding: 50px 20px 50px 0;
}

@media (max-width: 1140px) {
    .learn-more__description {
        max-width: 526px;
        padding: 42px 40px 42px 0;
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .learn-more__description {
        padding: 60px 20px 60px 30px;
        margin-right: 0;
        margin-bottom: 100px;
    }
}

.learn-more__description:before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50000px;
    background: var(--color-additional);
    box-shadow: 0px 20px 50px rgba(0, 80, 71, 0.2);
}

.learn-more__description:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -50000px;
    background: var(--color-additional);
    box-shadow: 0px 20px 50px rgba(0, 80, 71, 0.2);
}

@media (max-width: 768px) {
    .learn-more__description:after {
        display: flex;
    }
}

.learn-more__description p {
    position: relative;
    line-height: 22px;
    color: var(--color-light);
    z-index: 9;
}

@media (max-width: 1140px) {
    .learn-more__description p {
        font-size: 12px;
        line-height: 15px;
    }
}

.learn-more__description p:not(:last-child) {
    margin-bottom: 10px;
}

.learn-more__content {
    position: relative;
    padding: 55px 36px 52px;
    width: 100%;
    max-width: 540px;
    background: var(--color-light);
    box-shadow: 0px 20px 50px rgba(3, 88, 69, 0.2);
    border-left: 8px solid var(--color-additional);
    background-image: url('../assets/img/learn-more-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
}

@media (max-width: 1140px) {
    .learn-more__content {
        padding: 32px 27px;
        border-left: 5px solid var(--color-additional);
    }
}

@media (max-width: 768px) {
    .learn-more__content {
        max-width: 285px;
        padding: 23px 20px;
        border-left: 4px solid var(--color-additional);
        background-position: 110% top;
    }
}

.learn-more__img {
    position: absolute;
    top: 27%;
    right: -36px;
    width: 241px;
    height: 156px;
}

@media (max-width: 1140px) {
    .learn-more__img {
        top: 50%;
        transform: translateY(-50%);
        right: -8px;
        width: 127px;
        height: 83px;
    }
}

@media (max-width: 768px) {
    .learn-more__img {
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        width: 122px;
        height: 80px;
    }
}

.learn-more__text {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .005em;
    margin-bottom: 22px;
}

@media (max-width: 1140px) {
    .learn-more__text {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .learn-more__text {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
    }
}

.learn-more__link:link,
.learn-more__link:visited {
    color: var(--color-accent);
}

.learn-more__filename {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 27px;
}

@media (max-width: 1140px) {
    .learn-more__filename {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .learn-more__filename {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 14px;
    }
}

@media (max-width: 768px) {
    .learn-more--single {
        overflow-x: visible;
    }
}

.learn-more--single .learn-more__content {
    max-width: 570px;
    margin: 0 auto;
    padding: 29px 167px 37px 65px;
    background-position: right 16px;
    background-size: auto 100%;
    border-top: 8px solid var(--color-additional);
    border-left: none;
}

@media (max-width: 1140px) {
    .learn-more--single .learn-more__content {
        max-width: 338px;
        padding: 32px 78px 32px 27px;
        background-position: 118% top;
        border-top: 0px solid var(--color-additional);
        border-left: 5px solid var(--color-additional);
    }
}

@media (max-width: 768px) {
    .learn-more--single .learn-more__content {
        max-width: 285px;
        padding: 23px 25px 23px 24px;
        background-position: 110% top;
        border-left: 4px solid var(--color-additional);
    }
}

.learn-more--single .learn-more__img {
    width: 323px;
    height: 209px;
    top: 16px;
    right: -128px;
}

@media (max-width: 1140px) {
    .learn-more--single .learn-more__img {
        width: 127px;
        height: 83px;
        top: 50%;
        right: -8px;
    }
}

@media (max-width: 768px) {
    .learn-more--single .learn-more__img {
        width: 122px;
        height: 80px;
        right: -15px;
    }
}

.learn-more--single .learn-more__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 18px;
}

@media (max-width: 1140px) {
    .learn-more--single .learn-more__text {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .learn-more--single .learn-more__text {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
    }
}

.learn-more--single .learn-more__filename {
    font-size: 16px;
    line-height: 19.6px;
    margin-bottom: 31px;
}

@media (max-width: 1140px) {
    .learn-more--single .learn-more__filename {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .learn-more--single .learn-more__filename {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 14px;
    }
}

.learn-more--single .button {
    margin-left: -5px;
}