    @media (max-width: 768px) {
        .nav {
            display: none;
        }
    }

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 25px;
}
    @media (max-width: 1140px) {
        .nav__item:not(:last-child) {
            margin-right: 9px;
        }
    }

.nav__link {
    padding: 5px 10px;
    letter-spacing: .005em;
}
    @media (max-width: 1140px) {
        .nav__link {
            padding: 5px 5px;
            font-size: 14px; 
            line-height: 17.15px;
        }
    }