.promo {
    padding-top: 260px;
    margin-bottom: 120px;
}
    @media (max-width: 1140px) {
        .promo {
            padding-top: 213px;
            margin-bottom: 100px;
        }
    }
    @media (max-width: 768px) {
        .promo {
            padding-top: 140px;
        }
    }

.promo__title {
    margin-bottom: 30px;
}
    @media (max-width: 768px) {
        .promo__title {
            margin-bottom: 28px;
        }
    }

.promo__subtitle {
    font-size: 31px;
    line-height: 38px;
    letter-spacing: .005em;
    max-width: 610px;
    margin-bottom: 30px;
}
    @media (max-width: 1140px) {
        .promo__subtitle {
            font-size: 16px;
            line-height: 20px;
            max-width: 350px;
        }
    }
    @media (max-width: 768px) {
        .promo__subtitle {
            font-size: 12px;
            line-height: 14.7px;
            max-width: 260px;
            margin-bottom: 28px;
        }
    }

.promo-list {
    display: flex;
    margin-bottom: 30px;
}
    @media (max-width: 768px) {
        .promo-list {
            flex-direction: column;
        }
    }

.promo-list__item {
    width: 100%;
    max-width: 235px;
}
    @media (max-width: 1140px) {
        .promo-list__item {
            max-width: 160px;
        }
    }

.promo-list__item:not(:last-child) {
    margin-right: 72px;
}
    @media (max-width: 1140px) {
        .promo-list__item:not(:last-child) {
            margin-right: 20px;
        }
    }
    @media (max-width: 768px) {
        .promo-list__item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 14px;
        }
    }

.promo-list__title {
    font-size: 31px;
    font-weight: 900;
    line-height: 38px;
    color: var(--color-accent);
    margin-bottom: 17px;
}
    @media (max-width: 1140px) {
        .promo-list__title {
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 11px;
        }
    }
    @media (max-width: 768px) {
        .promo-list__title {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 4px;
        }
    }

.promo-list__text {
    line-height: 22px;
    letter-spacing: .005em;
}
    @media (max-width: 1140px) {
        .promo-list__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
    @media (max-width: 768px) {
        .promo-list__text {
            font-size: 12px;
            line-height: 15px;
        }
    }

.promo__button {
    padding: 24px 66px;
}
    @media (max-width: 1140px) {
        .promo__button {
            padding: 20px 66px;
        }
    }
    @media (max-width: 768px) {
        .promo__button {
            padding: 18px 57px;
            margin: 0 auto;
        }
    }