.work-report {
    margin-bottom: 120px;
}

.work-report__banner {
    display: flex;
    padding: 55px 65px;
    background-color: #004A42;
    box-shadow: 0px 25px 40px rgba(0, 80, 71, 0.1);
}

.work-report__content {
    width: 63.87%;
}

.work-report__title {
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.work-report__title strong {
    color: #00887A;
}

.work-report__text {
    color: #FFFFFF;
}

.work-report__img-box {
    position: relative;
    width: 40.4%;
}

.work-report__img {
    position: absolute;
    width: 100%;
    right: -42px;
    bottom: -39px;
}

